body {
    text-align: center;
    font-family: 'Oooh Baby', cursive;
    background: linear-gradient(#76c893, #99d98c);
    color: #184e77;
}

h1, h2, h3, h4, p {
    text-shadow: 1px 1px 1px #1a759f;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #52b69a;
    margin-bottom: 10px;
}

#bday-age {
    background: #52b69a;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #52b69a;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/kyLYXonQYYfwYDIeZl/giphy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/dyYOjf4hSYLuFPt4lm/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("https://media.giphy.com/media/jncb7lHMdHkmdBrUQ2/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media.giphy.com/media/xTiTnMhJTwNHChdTZS/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/gIgaSmNNiYyAa7lQBC/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/